button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn:focus,
.btn:hover,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    max-height: 35px;
    font-size: 12px;
    padding: 5px;
    width: 90px;
    color: white;
    border: none;
    outline-style: none;
}

.btn-1 {
    background-color: rgb(0, 36, 0);
}

.btn-2 {
    background-color: rgb(0, 46, 0);
}

.btn-3 {
    background-color: rgb(0, 56, 0);
}

.btn-danger {
    background-color: rgb(0, 46, 0) !important;
}